.whowehelp__container{
    @include centralize;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    .whowehelp__container__header{
        @include centralize;
        flex-direction: column;
        width: 100%;
        h1{
            font-size: 2rem;
            font-weight: normal;
        }
        &__img{
            margin-top: 2%;
            margin-right: .5%;
            @include decoration;
            margin-bottom: 5%;
        }
    }
    .whowehelp__container__partners{
        @include centralize;
        width: 100%;
        margin-top: 3%;
        &__partner {
            cursor: pointer;
            font-size: 1rem;
            border: none;
            padding: 30px;
            margin: 12px 10px;
            border: 1px solid transparent;
            &:hover, &:active {
                outline-color: $hover;
                border: 1px solid $hover;
            }
            &:focus {
                outline-color: $hover;
                outline-width: 1px;
            }
        }
    }
    .whowehelp__container__text{
        width: 100%;
        flex-direction: column;
        @include centralize;
        &__description{
            margin-bottom: 3%;
        }
        &__list{

            li{
                list-style: none;
            }
        }
    }
    .active{
        background: green;
    }
}