$bg: #F0F1F1;
$bg2: #ffffff;
$text: #3C3C3C;
$text2: #737373;
$border: #FAD648;
$hover: #f9cb16;
$error: #ff0000;
$errorFetch:#fbe9e7;
$errorFetch2:#c62828;
$inputHover:#eeedeb;
$borderInput:#000000;
$afterColor:#d1d1d1;
